#home .menu .image {
  width: 100%;
  object-fit: cover;
}

#home .menu .container {
  padding: var(--space-big);
}

#home .menu .center a {
  font-weight: 700;
}

@media (min-width: 960px) {
  #home .section-menu {
    margin: 10px auto;
    max-width: 1920px;
  }
  #home .menu {
    display: flex;
    flex-direction: row;
  }

  #home .menu .image,
  #home .menu .container {
    width: 50%;
  }

  #home .menu .container {
    display: grid;
    align-self: center;
    justify-self: center;
  }

  #home .menu .center {
    margin: 0 auto;
    max-width: 430px;
  }

  #home .menu:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media (min-width: 2500px) {
  #home .section-menu {
    margin: 0 auto;
    max-width: 1920px;
  }
}
