.page-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.page-category .btn-300 {
  width: 300px;
  margin: 24px;
}
.section-header {
  margin-top: 100px;
  width: 100%;
  background: #b4b0dc;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-transform: capitalize;
}

.section-description {
  width: 100%;
  text-align: center;
}
.section-description p {
  padding: 12px;
}
