.hero {
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.image {
  padding-top: 70px;
  max-width: 70vw;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.content-section {
  margin: 20px auto;
  width: 90vw;
  display: grid;
  grid-auto-flow: row;
  justify-content: stretch;
  grid-gap: 10px;
  line-height: 1.5;
  text-transform: uppercase;
}

.content-section > * {
  padding: 5px;
}

.content-section input {
  background: inherit;
}

.content-section h2 {
  font-size: var(--font-size-big);
}

.content-section b {
  display: block;
}

.booking-form {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 5px;
  min-width: 250px;
}

.booking-form input {
  border: none;
  border-bottom: 1px solid black;
  padding: 0px;
  min-height: 30px;
  min-width: -webkit-fill-available;
}

label {
  font-weight: bold;
}

@media (min-width: 960px) {
  .content-section {
    max-width: 960px;
    margin: 0 auto;
    grid-auto-flow: column;
    justify-content: space-evenly;
  }
}
