.section-nutrition_facts {
  padding: 0 12px;
}
.separator {
  background: black;
  height: 5px;
  width: 100%;
}

.calories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.daily_value {
  text-align: right;
}
h2 {
  padding: 0;
  margin: 0;
}
table,
tbody {
  width: 100%;
}
tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  border-bottom: 1px solid black;
}
@media (min-width: 900px) {
  .section-nutrition_facts {
    width: 800px;
    margin: auto;
  }
}
