.nutrition-table {
  max-width: 100%;
  margin: auto;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

.nutrition-table td,
tr {
  padding: 0 5px;
}

.nutrition-table caption {
  font-size: 25px;
  font-weight: bold;
}

.nutrition-table tr {
  line-height: 1.5;
  border-bottom: 1px solid black;
  vertical-align: baseline;
}

.thick-row-top td {
  border-top: 5px solid black;
}

.thick-row-bottom td {
  border-bottom: 5px solid black;
}

.nutrition-table td:nth-child(2) {
  text-align: right;
}

.main-text {
  font-weight: 500;
}

.align-right {
  text-align: right;
}

.nutrition-table tr:nth-of-type(6) span,
.nutrition-table tr:nth-of-type(8) span,
.nutrition-table tr:nth-of-type(9) span,
.nutrition-table tr:nth-of-type(10) span,
.nutrition-table tr:nth-of-type(13) span {
  font-weight: 500;
  font-size: 18px;
}

.nutrition-table tr:last-of-type td {
  border-bottom: 5px solid black;
}
